.header{
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    &__logo {
        display: flex;
        flex-flow: column;
        justify-content: center;
        &-img {
            width: 185px;
            @include laptop() {
                width: 165px;
            }
            @include phone() {
                width: 120px;
            }
        }
        &-text {
            font-size: 13px;
            color: black;
            @include laptop() {
                font-size: 11px;
            }
            @include phone() {
                font-size: 8px;
            }
        }
    }
    &__row {
        display: flex;
        align-items: center;
    }
    &__btn {
        width: 205px;
        background: #ebebeb;
        height: 35px;
        border: transparent;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 2px;
        cursor: pointer;
        &:hover {
            background: #ff0000;
            color: white;
        }
        @include laptop() {
            width: 165px;
        }
        @include tablet() {
            width: auto;
            margin-left: 180px;
        }
        @include phone() {
            margin-left: 90px;
        }
        &-wrapper {
            width: 31px;
            height: 31px;
            background: white;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-icon {
            height: 50%;
            width: 50%;
        }
        &-text {
            margin: auto;
            display: inline-block;
            @include laptop() {
                font-size: 13px;
            }
            @include tablet() {
                display: none;
            }
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        @include tablet() {
            display: none;
        }
        &-link {
            color: black;
            font-weight: bold;
            margin: 0 15px;
            @include laptop() {
                margin: 0px 8px;
                font-size: 14px;
            }
            &--entry {
                color: white;
                display: flex;
                background: black;
                width: 100px;
                height: 35px;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                &:hover {
                    background: #ff0000;
                }
                &:hover + .header__nav-icon {
                    fill: #ff0000;
                }
                @include laptop() {
                    width: 75px;
                }
            }
        }
        &-icon {
            height: 25px;
            width: 25px;
            margin: 0 15px;
            @include laptop() {
                margin: 0;
            }
        }
    }
}