.tools {
    width: 50%;
    padding-right: 5%;
    box-sizing: border-box;
    @include tablet() {
        width: 100%;
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 15px;
        @include laptop() {
            font-size: 32px;
        }
        @include tablet() {
            font-size: 24px;
            margin-bottom: 10px;
        }
        @include phone() {
            font-size: 18px;
        }
    }
    &__subtitle {
        font-size: 22px;
        margin-bottom: 50px;
        @include laptop() {
            font-size: 17px;
        }
        @include tablet() {
            font-size: 15px;
        }
        @include phone() {
            font-size: 13px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 55px;
        @include tablet() {
            margin-bottom: 30px;
        }
        @include phone() {
            flex-flow: column;
        }
        &-img {
            display: flex;
            margin-right: 40px;
            @include laptop() {
                margin-right: 30px;
            }
            @include phone() {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        &-number {
            color: #c5c5c5;
            font-weight: bold;
            display: inline-block;
            margin-right: 10px;
        }
        &-imgWrap {
            padding: 15px;
            box-shadow: 0 3px 18px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            box-sizing: border-box;
            width: 92px;
            height: 92px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-icon {
            height: 100%;
        }
        &-content {
            line-height: 22px;
        }
        &-title {
            font-weight: bold;
            font-size: 14px;
            &:hover {
                text-decoration: underline;
            }
            @include laptop() {
                font-size: 13px;
            }
            @include phone() {
                font-size: 11px;
            }
            &--inline {
                display: inline;
            }
        }
        &-link {
            color: black;
        }
        &-desc {
            @include laptop() {
                font-size: 12px;
            }
        }
    }
}